.sig-slider {
    width: 90%;
    overflow: hidden;
    position: relative;
    border: 2px solid #a55605;
    margin: auto;
    margin-top: 14px;
    border-radius: 5px;
}

.sig-slide {
    display: none;
    transition: opacity 1s ease;
}

.sig-slide img {
    width: 100%;
    height: auto;
}

.active {
    display: block;
}
.full-sec-content iframe
{
    border: 2px solid #a55605;
    border-radius:5px;
    padding: 1px;
}
.forms-section .modal-header .close,#signature-form .modal-header .close
{
    background-color: goldenrod;
    color: #fff;
}
#news-data .headdd h4
{
    color: goldenrod;
    font-weight: 700;
    
}
#news-data .img img
{
    border: 2px solid #a55605;
}
#news-data .discc
{
    font-size: small;
}
#news-data button
{
    background-color: #a55605;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s;
    margin: 10px 0;
}
#news-data button:hover
{
    transform: translateY(-10px);
}
