.slider-container {
    position: relative;
    width: 98%; 
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.cards-wrapper {
    display: flex;
    transition: transform 0.5s ease; 
}

.card {
    flex: 0 0 auto;
    width: 200px; 
    height: 150px; 
    margin: 0 10px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #a55605;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 15px;
    z-index: 1;
    border-radius: 20px;
}

.left-button {
    left: 10px;
}

.right-button {
    right: 10px;
}
.product-card .img
{
    display: none;
    width: 78%;
    border: 4px solid goldenrod;
    border-radius: 10px;
    transition: opacity 0.5s ease;
}
.product-active
{
    display: block !important;
}
.product-prev,.product-next
{
    border: none;
    background: none;
    height: 33px;
    margin: auto;
    background-color: #a55605;
    color: #fff;
    border-radius: 50%;
    padding: 0 7px;
}
.product-card .img button
{
    width: 100%;
    border: none;
    background-color: goldenrod;
    color: white;
    padding: 6px 0;
}
#slider2 .cards-wrapper .card
{
    width: 300px;
    height: 220px;
}
#slider1 .cards-wrapper .card
{
    height: fit-content;
    width: 250px;
}
#slider3 .cards-wrapper .card
{
    width: 300px;
    height: fit-content;
}
#slider3 .cards-wrapper .card .post .content p
{
    padding-top: 42%;
}
#slider3 .cards-wrapper .card .post .content
{
    background:rgba(0, 0, 0, 0.6);
    transition: all 1s ease-out;
    position:absolute;
    height: 100%;
    width: 100%;
    margin-top: 5px;
}
#slider3 .cards-wrapper .card .post .image
{
    height: 300px;
}
#slider3 .cards-wrapper .card .post .image:hover + .content
{
    transform: translateY(-305px);
}

#slider3 .cards-wrapper .card .post .content:hover
{
    transform: translateY(-305px);

}
#slider3 .cards-wrapper .card .post .image img
{
    aspect-ratio: 1;
    height: 100%;
}
#slider3 .cards-wrapper .card .post p
{
    color: #fff;
    font-weight: 300;
    text-align: start;
    font-size: small;
    padding: 0 15px;
}
#slider3 .cards-wrapper .card .post
{
    border: 4px solid goldenrod;
    position: relative;
}
.services .services-card div
{
    border: 4px solid goldenrod;
    border-radius: 5px;
    margin: 10px 16px;
    height: 400px;
}
.services .services-card div img
{
    height: 91%;
    margin-left: 10px;
}
.services .services-card div button
{
    width: 100%;
    border: none;
    background-color: goldenrod;
    color: white;
    padding: 6px 0;
}
.announcements-section .dis a button
{
    border: 2px solid #a55605;
    background-color: #a55605;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    margin: 15px 0;
    color: white;
    padding: 2px 20px;
    transition: 0.3s ease;
}
.announcements-section .img img
{
    border: 3px solid goldenrod;
    padding: 4px;
}
.announcements-section .dis a button:hover
{
    background-color: white;
    color: #a55605;
    font-weight: 400;
    transition: 0.3s ease;
    font-size: 15px;
    transform: translateY(-7px);
}
.announcements-section .heading h3
{
    text-align: start;
    margin: 5px 0;
    padding: 0 10px;
}
.products
{
    margin-top: 38px;
}
.announcements-section .dis
{
    text-align: start;
}