.slider-container {
    position: relative;
    width: 98%; 
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.cards-wrapper {
    display: flex;
    transition: transform 0.5s ease; 
}

.card {
    flex: 0 0 auto;
    width: 200px; 
    height: 150px; 
    margin: 0 10px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #a55605;
    color: white;
    border: none;
    padding: 1px 5px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    border-radius: 20px;
}

.left-button {
    left: 10px;
}

.right-button {
    right: 10px;
}
.product-card .img
{
    display: none;
    width: 78%;
    border: 4px solid goldenrod;
    border-radius: 10px;
    transition: opacity 0.5s ease;
}
.product-active
{
    display: block !important;
    opacity: 1;
}
.product-prev,.product-next
{
    border: none;
    background: none;
    padding: 0 10px;
}
.product-card .img button
{
    width: 100%;
    border: none;
    background-color: goldenrod;
    color: white;
    padding: 6px 0;
}
#slider2 .cards-wrapper .card
{
    width: 300px;
    height: 220px;
}
#slider1 .cards-wrapper .card
{
    height: fit-content;
    width: 250px;
}
#slider3 .cards-wrapper .card
{
    width: 300px;
    height: fit-content;
}
#slider3 .cards-wrapper .card .post .image
{
    height: 300px;
}
#slider3 .cards-wrapper .card .post .image img
{
    aspect-ratio: 1;
}