td
{
    border: 1px solid gray !important;
    width: 10px;
    text-align: center;
}
thead tr td,tbody tr td
{
    padding: 8px 10px;
    word-break: break-all;
    white-space: pre-wrap;
}
.order-product-details tr:nth-child(even)
{
    background-color: var(--color-2);
    color: var(--color-5);
}
.order-product-details tr td
{
    font-size: 13px;
    padding: 5px 0;
}
.order-status .conformed
{
    color: green;
}
.order-status .canceled
{
    color: red;
}
.order-status .pending
{
    color: rgb(49, 129, 49);
}
.order-status button
{
    border: none;
    margin: 10px 5px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 11px;
}
.order-status .conform
{
    background-color: green;
    color: #fff;
    font-weight: bolder;
}
.order-status .cancel
{
    background-color: red;
    color: #fff;
    font-weight: bolder;
}
.content
{
    overflow: auto;
    height: 100vh;
}
.content::-webkit-scrollbar-thumb
{
    background-color: var(--color-2);
    border-radius: 10px;
}
.content::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
}