@import url('admin.css');

input:focus-visible
{
    border: none;
    outline: 0;
}
input
{
    border: none;
    width: 50%;
    margin: 10px 0 !important;
    background-color: #746a5a !important;
    color: var(--color-5) !important;
    padding: 5px 10px;
    border-radius: 10px;
}
input::placeholder
{
    color: var(--color-5) !important; 
}
button
{
    border: none;
    color: #b26f0a !important;
    background-color: #fff !important;    
    padding: 3px 50px;
    margin: 10px 0 !important;
    border-radius: 15px !important;
    box-shadow: 0 0 4px 0 gray;
    font-weight: 600;
}