.notice-container {
    background-color: #003168;
    height: 64px;
    padding: 20px 0 20px 20px;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    line-height: 24px;
    box-sizing: border-box;
    display: flex;
}

.notice-heading {
    color: #fdef01;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 24px;
}

.notice-link {
	font-weight: normal;
	color: #FFFFFF;
	padding-right: 8px;
	text-decoration: underline;
}

#accountSummary_banner_link{
	color:#FFFFFF !important;
}

#accountSummary_banner_link_alternate{
	color:#FFFFFF !important;
}

.notice-tabimg {
	padding-left: 8px;
}
