.password-complexity {
  max-width: 257px;
  margin: 10px 0;
  display: none;
  height: 0;
}

.password-complexity .password-complexity-bars {
  overflow: hidden;
}

.password-complexity .password-complexity-bar {
  width: 30%;
  float: left;
  height: 8px;
  background-color: #ddd;
}

.password-complexity .password-complexity-bar:not(:last-child) {
  border-right: 2px solid white;
}

.password-complexity .password-complexity-description {
  margin-top: 3px;
}

.password-complexity .weak {
  background-color: #993333;
}

.password-complexity .fair {
  background-color: #f9a415;
}

.password-complexity .strong {
  background-color: #aab80d;
}

.password-complexity-match-status div {
  display: none;
}
